html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

$header-height: 2rem;

@media (min-width: 480px) {
  $header-height: 3rem;
}

.main-container {
  height: 100%;
}
.main {
  height: calc(100% - #{$header-height});
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  height: $header-height;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  white: white;
}

@import "app/game/game";
